<%= form_for restaurant, html: {class: 'form'} do |f| %>
  <% if restaurant.errors.any? %>
    <div class="error-explanation">
        <h3>There are <%= pluralize(restaurant.errors.count, "error") %>.</h3>
        <ul>
          <% restaurant.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :neighbourhood %>
    <%= f.text_field :neighbourhood %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :opening_hour %>
    <%= f.number_field :opening_hour %>
  </div>

  <div class="field">
    <%= f.label :closing_hour %>
    <%= f.number_field :closing_hour %>
  </div>

  <div class="field">
     <%= f.label :summary %><br />
     <%= f.text_field :summary %>
  </div>

  <div class="field">
     <%= f.label :menu %>
     <%= f.text_field :menu %>
  </div>

  <div class="field">
     <%= f.label :price_range %>
     <%= f.text_field :price_range %>
  </div>

  <div class="field">
     <%= f.label :available_slots %>
     <%= f.number_field :available_slots %>
  </div>

  <div class="field">
     <%= f.label :max_capacity %>
     <%= f.number_field :max_capacity %>
  </div>

  <div class="field">
     <%= f.label :min_party_size %>
     <%= f.number_field :min_party_size %>
  </div>

  <div class="field">
     <%= f.label :max_party_size %>
     <%= f.number_field :max_party_size %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.submit "Add Restaurant", class: "btn-default" %>
  </div>
<% end %>