<section class="wrapper">
  <h1>Seat Yourself</h1>

  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="restaurant-wrapper">
        <div class="restaurant-image"><%= image_tag(restaurant.image) %></div>
        <h2><%= restaurant.name %> <small>(<%= restaurant.neighbourhood %>)</small></h2>

        <p class="restaurant-info">
          <%= restaurant.address %><br>
          Business Hours: <%= restaurant.business_hours %>
        </p>
      </div>
    <% end %>
  <% end %>
</section>
