<section class="wrapper">
  <h1>Seat Yourself</h1>

  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="restaurant-wrapper">
        <%= image_tag('https://via.placeholder.com/350x200') %>
        <h2><%= restaurant.name %> <small>(<%= restaurant.neighbourhood %>)</small></h2>

        <p class="restaurant-info">
          Business Hours: <%= restaurant.opening_hour %> - <%= restaurant.closing_hour %>
        </p>
      </div>
    <% end %>
  <% end %>
</section>
