<h1><%= @restaurant.name %> </h1>
  <%= link_to "Back to Main Page", root_path %>

  <ul>
    <li><%= @restaurant.address %></li>
    <li><%= @restaurant.neighbourhood %></li>
    <li><%= @restaurant.price_range %></li>
    <li><%= @restaurant.summary %></li>
    <li><%= @restaurant.menu %></li>
    <li><%= @restaurant.available_slots %></li>
  </ul>