<h1><%= @restaurant.name %> </h1>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.neighbourhood %></li>
  <li><%= @restaurant.price_range %></li>
  <li><%= @restaurant.summary %></li>
  <li><%= @restaurant.menu %></li>
  <li><%= @restaurant.available_slots %></li>
  <li><%= @restaurant.opening_hour %></li>
  <li><%= @restaurant.closing_hour %></li>
</ul>

<section class="reservation-form">
  <h4>Make a New Reservation</h4>
  <%= render 'reservations/form' %>
</section>