<section>
<h3><%= @restaurant.name %></h3>
<h4>Price Range: $<%= @restaurant.price_range %></h4>

<ul>
  <li>Address: <%= @restaurant.address %>, <%= @restaurant.neighbourhood %></li>
  <li>Hours: <%= @restaurant.opening_hour %>:00 - <%= @restaurant.closing_hour %>:00</li>
  <li>About: <%= @restaurant.summary %></li>
  <li>Menu: <%= @restaurant.menu %></li>
  <li><%= @restaurant.available_slots %></li>
</ul>
</section>

<section class="reservation-form">
  <h4>Make a New Reservation</h4>
  <%= render 'reservations/form' %>
</section>
