<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Main Nav</h1>
    <p><%= link_to "Home page", root_path %></p>

    <% if current_user %>
      Hello <%= current_user.full_name %>! <br>
      <%= link_to 'Log Out', session_path(current_user), method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> <br>
      <%= link_to "Login", new_session_path %>
    <% end %>
  </header>

  <main>
    <h1>Welcome</h1>

    <h1>Reservations</h1>

    <% current_user.reservations.each do |reservation| %>
      <p>
        <%= reservation.restaurant.name %>
      </p>
      <p>
        <%= reservation.restaurant.address %>
      </p>
      <p>
        <%= reservation.time_slot %>
      </p>
      <p>
        <%= reservation.party_size%>
      </p>

    <% end %>



    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    &copy; Bitmaker 2018 | <a href="https://github.com/ilyana19/seatyourself">See Repo Here</a>
  </footer>

</body>
</html>
